.wlcm{
    text-align: center;
    font-size:60px ;
    color:white;
}

body{
    background-color:lightgreen;
    background-image: url(web-design-coding-web-developing-macbook.jpg);
}

a{
    font-size: 30px;
    font-style: italic;
    text-decoration:none;
    color:inherit;
}

.buttons{
    padding:20px;
    background-color:beige;
}
.span{
    
    padding-bottom: 100px;
    background-color:aquamarine;
   text-align: center;
   bottom:-1px;
   position: absolute;
   padding-right: 20px;
   padding-bottom: 2px;

    

}

.mba{
text-align: center;
}

.buttons:hover{
  background-color: brown;
}

a{ color: inherit;
  text-decoration: none;
 
 } 
 .span1{
        padding-bottom: 100px;
    background-color:aquamarine;
   text-align: center;
   bottom:-1px;
   position:absolute;
   left: 467px;
   padding-bottom: 2px;
   padding-top: 132.5px;
   padding-right: 75px;
    }
    
    .hh{
        top: 3000px;
        padding-bottom: 510px;
    }
 
